$main: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$accent: #F0145A;
$regular: #24A3FF;
$hover: #0085FF;
$active: #006CCF;
$bg: #F5F5FA;
$bg-alt: #EDEDF7;
$text: #B3B3BA;
$grey-bg: #E6E6F0;
$separator: #E6E6F0;
$dark-pink: #A54B5F;
$purple: #7A425E;
$dark-purple: #693264;
$violet: #643E72;
$pink: #EF8080;
$white: #FFFFFF;
$whiteF2: #E7E7F2;
$black: #000000;
$light-grey: #CACADB;
$main-rgb: rgba(245, 245, 250, 0.20);
$regular-rgb: rgba(36, 163, 255, 0.50);
$border-rgb: rgba(255, 255, 255, 0.50);
$border-rgb30: rgba(255, 255, 255, 0.30);
$txt-rgb: rgba(36, 163, 255, 0.50);

$gradient-regular: linear-gradient(135deg, $main 0%, $main 73.96%, $dark-pink 100%);
$gradient-soft: linear-gradient(23deg, $main 0%, $main 50.63%, $purple 100%);
$gradient-red: linear-gradient(310deg, $accent 0%, $dark-purple 100%);
$gradient-supersoft: linear-gradient(208deg, $main 0%, $main 59.90%, $violet 100%);
$gradient-red-text: linear-gradient(118deg, $accent 0%, $pink 100%);
$gradient-red-reversed: linear-gradient(118deg, $pink 0%, $accent 100%);